asgiref==3.12.1
astroid==4.0.4
dill==0.4.1
Django==5.2
django-bootstrap5==26.2
django-debug-toolbar==7.1.1
django-smart-selects==1.7.2
flake8==7.3.0
iniconfig==2.3.0
isort==8.0.1
mccabe==0.7.0
packaging==26.2
pillow==12.3.0
platformdirs==4.10.1
pluggy==1.6.0
psycopg==3.3.4
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.20.0
pylint==4.0.6
pylint-django==2.8.0
pylint-plugin-utils==0.9.0
pytest==9.1.1
pytest-django==4.14.0
python-dotenv==1.2.2
sqlparse==0.5.5
tomlkit==0.15.1
typing_extensions==4.16.0
Unidecode==1.4.0
