{% extends 'catalog/form_base.html' %}
{% load static %}

{% block title %}{% if object %}Edit game — GameVerse{% else %}Add game — GameVerse{% endif %}{% endblock %}

{% block extra_css %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/game_form.css' %}">
{% endblock %}

{% block image_field_id %}{{ form.cover_image.id_for_label }}{% endblock %}

{% block preview_image %}
  {% if object and object.cover_image %}
    <img id="preview" src="{{ object.cover_image.url }}" alt="{{ object.title }}">
  {% else %}
    <img id="preview" src="{% static 'images/placeholder.jpg' %}" alt="Game cover">
  {% endif %}
{% endblock %}

{% block image_field %}{{ form.cover_image }}{% endblock %}
{% block image_errors %}{{ form.cover_image.errors }}{% endblock %}

{% block extra_image %}
  <label for="{{ form.banner_image.id_for_label }}" class="banner-box">
    {% if object and object.banner_image %}
      <img id="banner-preview" src="{{ object.banner_image.url }}" alt="{{ object.title }}">
    {% else %}
      <img id="banner-preview" src="{% static 'images/placeholder.jpg' %}" alt="Game banner">
    {% endif %}
    {{ form.banner_image }}
  </label>
  {{ form.banner_image.errors }}
{% endblock %}

{% block form_fields %}
  {{ form.title.errors }}
  {{ form.title }}

  <div class="field-row">
    {{ form.release_year.errors }}
    {{ form.release_year }}
    {{ form.publisher.errors }}
    {{ form.publisher }}
  </div>

  <div class="field-row">
    {{ form.metacritic_score.errors }}
    {{ form.metacritic_score }}
    {{ form.genres.errors }}
    {{ form.genres }}
    {{ form.quests.errors }}
    {{ form.quests }}
    {{ form.characters.errors }}
    {{ form.characters }}
  </div>
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function () {
  const input = document.querySelector('.photo-input');
  const preview = document.getElementById('preview');

  if (input && preview) {
    input.addEventListener('change', function () {
      if (this.files.length > 0) {
        preview.src = URL.createObjectURL(this.files[0]);
      }
    });
  }
});
</script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
$(document).ready(function () {
  $('#id_genres').select2({
    placeholder: 'Select genres',
    templateSelection: function (data) {
      return data.text;
    }
  });
});

const bannerInput = document.querySelector('.banner-input');
const bannerPreview = document.getElementById('banner-preview');

if (bannerInput && bannerPreview) {
  bannerInput.addEventListener('change', function () {
    if (this.files.length > 0) {
      bannerPreview.src = URL.createObjectURL(this.files[0]);
    }
  });
}
</script>


{% endblock %}